.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 60px;

background:white;

box-shadow:0 3px 20px rgba(0,0,0,.08);

position:sticky;

top:0;

z-index:1000;

}

.logo h2{

margin:0;

font-size:28px;

color:#0f62fe;

}

.logo p{

margin-top:3px;

font-size:13px;

color:#666;

}

.menu{

display:flex;

gap:35px;

}

.menu a{

text-decoration:none;

font-size:17px;

font-weight:600;

color:#222;

transition:.3s;

}

.menu a:hover{

color:#0f62fe;

}